* {
  margin: 0;
  padding: 0;
  block-size: border-box;
  /*   outline: 1px solid red;
 */
}
nav ul {
  display: flex;
  grid-template-columns: repeat(2, 4fr);
  justify-content: space-between;
  padding: 30px;
}
nav ul li {
  list-style-type: none;
}
.logo {
  font-weight: 600;
  font-size: 25px;
  font-style: italic;
  color: white;
}
nav ul li button {
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
nav ul li button a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}
.inside-header-div {
  width: 50%;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
header {
  background-image: url("assets/background-image.png");
  height: 60vh;
  width: 100%;
}
.icons {
  display: flex;
  justify-content: space-between;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.input-wrapper i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.input-wrapper .fa-location-crosshairs {
  left: 10px;
}

.input-wrapper .fa-magnifying-glass {
  right: 10px;
}
.fa-magnifying-glass {
  background-color: green;
  width: 30px;
  padding: 8px 5px;
  border-radius: 5px;
}
.second-section {
  background-color: #f4f4f4;
  width: 100%;
}
.second-section-div {
  width: 90%;
  display: flex;
  /* grid-template-columns: repeat(4, 3fr); */
  margin: 0 auto;
  justify-content: space-between;
  background-color: #f4f4f4;
  height: 150px;
  padding: 10px;
}
.second-section-div .box {
  text-align: center;
  padding-top: 20px;
  height: 100px;
  border-radius: 10px;
}
.second-section .fa-solid,
.second-section .fa-regular {
  font-size: 30px;
  color: blue;
  margin-bottom: 10px;
}
.third-section {
  padding-top: 20px;
  width: 90%;
  margin: 30px auto;
}
.btn-seeAll {
  display: flex;
  justify-self: flex-end;
  padding: 10px;
  background-color: white;
  border-radius: 7px;
  margin: 0 0 10px 0;
}
.third-sec-div {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  width: 100%;
}
.third-section .details {
  text-align: center;
  width: 90%;
  height: 140px;
  background-color: #f8f8f8;
  box-shadow: 10px 10px 10px #ccc;
  border-radius: 10px;
  margin: 20px;
  padding: 20px 0;
}
.third-section .details:hover {
  transform: scale(1.05);
}
.btn-deatils {
  display: flex;
  justify-self: flex-end;
  padding: 7px;
  margin-right: 10px;
  background-color: white;
  border: none;
}
.btn-deatils a {
  color: black;
  text-decoration: none;
}
.details h4 {
  margin-top: 10px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.details .fa-solid {
  font-size: 50px;
}
.fa-shrimp {
  color: blue;
}
.fa-dragon {
  color: green;
}
.fa-frog {
  color: red;
}
.details .fa-store {
  color: blue;
}
.fa-face-laugh {
  color: gray;
}
.outer-fourth-section {
  width: 100%;
  background-color: #f8f8f8;
}
.fourth-section_inner {
  padding: 60px 0;
  width: 90%;
  margin: 30px auto;
}
.fourth-sec-div {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.div-under-4th-sect img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}
.fifth-div-aboveFooter {
  width: 100%;
  background-color: #f8f8f8;
}
.wrapper-last-div {
  width: 90%;
  display: flex;
  /*   grid-template-columns: repeat(2, 2fr);
 */
  justify-content: space-between;
  margin: 0 auto;
}
.conatiner-bgBlack {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.black-bg {
  width: 30%;
  height: 16vh;
  background-color: black;
  border-radius: 20px;
}
.image-container img {
  width: 70%;
  margin: 20px 0 0 50px;
  border-radius: 20px;
  justify-self: center;
  box-shadow: 10px 10px 10px #ccc, -5px -5px 6px #ccc;
}
.fa-app-store-ios {
  color: white;
  font-size: 30px;
  padding-left: 15px;
}
.black-bg p {
  position: relative;
  top: 20px;
  left: 50px;
  color: whitesmoke;
}
.app {
  font-weight: 900;
  font-size: large;
}
.textInDivLast {
  width: 70%;
  text-align: left;
  margin-top: 100px;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding-bottom: 20px;
}
footer {
  color: #f8f8f8;
  padding: 30px 0;
  width: 100%;
  background-color: blue;
  margin: 20px 0 0 0;
}
.footer-inside-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.footer-left .fa-brands {
  font-size: 30px;
  padding-top: 40px;
  justify-content: space-between;
  padding-right: 10px;
}
.email-footer {
  padding-right: 10px;
}
.email-footer a {
  color: #f8f8f8;
}
.footer-right h2 {
  padding-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .inside-header-div {
    width: 85%;
  }
  .second-section-div {
    width: fit-content;
  }
  .box {
    width: 25%;
  }

  .third-section .third-sec-div {
    grid-template-columns: repeat(2, 2fr);
  }
  .third-section h2 {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
  }
  .fourth-section_inner {
    max-width: 100%;
    box-sizing: border-box;
  }
  .fourth-section_inner h2 {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
  }
  .fourth-section_inner .fourth-sec-div {
    flex-direction: column;
  }
  .div-under-4th-sect {
    margin: 10px auto;
  }
  .div-under-4th-sect img {
    width: 300px;
    height: 300px;
  }
  .div-under-4th-sect h3,
  .div-under-4th-sect p {
    font-size: 20px;
  }
  .wrapper-last-div {
    flex-direction: column;
  }
  .image-container {
    display: none;
  }
  .footer-inside-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .textInDivLast {
    text-align: center;
    margin: 20px auto;
  }
  .conatiner-bgBlack {
    max-width: 100%;
  }
  .conatiner-bgBlack .black-bg p {
    width: fit-content;
    font-size: small;
  }
  .black-bg {
    margin: 0;
  }
  .fa-app-store-ios {
    font-size: 20px;
  }
  .black-bg p {
    left: 40px;
    top: 30px;
  }
  .footer-inside-wrapper p,
  .footer-inside-wrapper span {
    font-size: 20px;
  }
  .footer-left {
    margin-bottom: 20px;
  }
  .fa-phone,
  .fa-envelope {
    color: black;
  }
}
