* {
  margin: 0;
  padding: 0;
  block-size: border-box;
}
nav ul {
  display: flex;
  grid-template-columns: repeat(2, 4fr);
  justify-content: space-between;
  padding: 30px;
}
nav ul li {
  list-style-type: none;
}
.logo {
  font-weight: 600;
  font-size: 25px;
  font-style: italic;
  color: white;
}
nav ul li button {
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
nav ul li button a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}
.inside-header-div {
  justify-content: center;
  justify-items: center;
  justify-self: center;
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
header {
  background-image: url("assets/background-image.png");
  height: 60vh;
  width: 100%;
}
.icons {
  display: flex;
  justify-content: space-between;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 40px; /* space for icons */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.input-wrapper i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.input-wrapper .fa-location-crosshairs {
  left: 10px;
}

.input-wrapper .fa-magnifying-glass {
  right: 10px;
}
.fa-magnifying-glass {
  background-color: green;
  width: 30px;
  padding: 8px 5px;
  border-radius: 5px;
}
.second-section {
  background-color: #f4f4f4;
  width: 100%;
}
.second-section-div {
  width: 90%;
  display: flex;
  /* grid-template-columns: repeat(4, 3fr); */
  margin: 0 auto;
  justify-content: space-between;
  background-color: #f4f4f4;
  height: 150px;
  padding: 10px;
}
.second-section-div .box {
  text-align: center;
  padding-top: 20px;
  height: 100px;
  border-radius: 10px;
}
.second-section .fa-solid,
.second-section .fa-regular {
  font-size: 30px;
  color: blue;
  margin-bottom: 10px;
}
.third-section {
  padding-top: 20px;
  width: 90%;
  margin: 30px auto;
}
.btn-seeAll {
  display: flex;
  justify-self: flex-end;
  padding: 10px;
  background-color: white;
  border-radius: 7px;
  margin: 0 0 10px 0;
}
.third-sec-div {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  width: 100%;
}
.third-section .details {
  text-align: center;
  width: 90%;
  height: 140px;
  background-color: #f8f8f8;
  box-shadow: 10px 10px 10px #ccc;
  border-radius: 10px;
  margin: 20px;
  padding: 20px 0;
}
.third-section .details:hover {
  transform: scale(1.05);
}
.btn-deatils {
  display: flex;
  justify-self: flex-end;
  padding: 7px;
  margin-right: 10px;
  background-color: white;
  border: none;
}
.btn-deatils a {
  color: black;
  text-decoration: none;
}
.details h4 {
  margin-top: 10px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.details .fa-solid {
  font-size: 50px;
}
.fa-shrimp {
  color: blue;
}
.fa-dragon {
  color: green;
}
.fa-frog {
  color: red;
}
.details .fa-store {
  color: blue;
}
.fa-face-laugh {
  color: gray;
}
.outer-fourth-section {
  width: 100%;
  background-color: #f8f8f8;
}
.fourth-section_inner {
  padding: 60px 0;
  width: 90%;
  margin: 30px auto;
}
.fourth-sec-div {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.div-under-4th-sect img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}
